---
---

@import "{{ site.theme }}";
@import "../fonts/inter.css";

.page-header {
  background-color: white;
  background-image: url("{{ site.baseurl }}/assets/images/hero.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: calc(80vh);
  text-shadow: 2px 2px 2px rgb(80, 80, 80);
}

.page-header .project-tagline {
  font-size: 1.75rem;
  opacity: 1;
}

body {
  font-family: Inter, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue,
    sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
