---
---

@import "{{ site.theme }}";

.page-header {
  background-image: url("{{ site.baseurl }}/assets/images/hero.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
}
